<%= form_for(@product_feature) do |f| %>
  <% if @product_feature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_feature.errors.count, "error") %> prohibited this product_feature from being saved:</h2>

      <ul>
      <% @product_feature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :pfeature_id %><br>
    <%= f.text_field :pfeature_id %>
  </div>
  <div class="field">
    <%= f.label :active_status %><br>
    <%= f.number_field :active_status %>
  </div>
  <div class="field">
    <%= f.label :sort %><br>
    <%= f.number_field :sort %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
