<%= form_for(@pfeature) do |f| %>
  <% if @pfeature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pfeature.errors.count, "error") %> prohibited this pfeature from being saved:</h2>

      <ul>
      <% @pfeature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fdate %><br>
    <%= f.datetime_select :fdate %>
  </div>
  <div class="field">
    <%= f.label :active_status %><br>
    <%= f.number_field :active_status %>
  </div>
  <div class="field">
    <%= f.label :sort %><br>
    <%= f.number_field :sort %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
